body {
  background-image: url('../img/background/literature.jpg');
  height: 100%;
  background-attachment: fixed;
}

.row.white {
  margin-top: 50vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

nav {
  box-shadow: none;
  font-family: 'Dosis', sans-serif;
}

span {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: bold;
}


footer {
  margin-top: 50vh;
}
